* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.relative {
    left: 300px;
    top: 80px;
}
.job-styling {
    font-weight: 300;
    background-color: rgb(214, 214, 214);
    color: black;
    border-bottom: 10px;
    display: block;
    margin: 10px;
    border-radius: 5px;
    text-wrap: wrap;
    width: 600px;
    position: relative;
    left: 20%;
    border: 2px solid #A6D2EB;
    /* overflow: auto; */

}

.bold-letters {
    font-weight: bold;
}

.text-gray-500 {
    display: flex;
    justify-content: center;
}


#content-container {
    overflow-x: hidden;
    overflow-y: auto;
}
#main-header {
    display: flex;
    color: white;
    background-color: #A6D2EB;
    height: 70px;
}

#main {
    display: flex;
    width: 100%;
}

#form-main {
    display: flex;
    width: 250px;
    height: 520px;
    background-color: #A6D2EB;
}

#form-main fieldset {
    border: none;
    display: flex;
}

#search-input {
    border: none;
    height: 28px;
    width: 100%;
}

#selects {
    border: none;
    height: 28px;
}

#button-fieldset {
    display: flex;
}

#submit-btn {
    border: none;
    width: 100%;
    height: 35px;
    background-color: white;
    cursor: pointer;
}

#clear-btn {
    width: 75%;
    height: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
}

#submit-btn, #clear-btn, #selects, #search-input {
    border-radius: 5px;
    outline: none;
}

#select-modal {
    visibility: hidden;
}


#content-container {
    width: 85%;
    height: 520px;
    background-color: white;
    border: solid 10px #A6D2EB;
}

#footer {
    display: flex;
    position: sticky;
    top: 100%;
    order: 5;
    color: white;
    background-color: #A6D2EB;
    height: 140px;
}

#agencyDrop {
    width: 100%;
}
 
/*added responsiveness */
@media screen and (max-width: 690px) {
    #main {
        flex-direction: column;
        align-items: center;
    }
    #content-container, #form-main {
        margin: 0;
        margin-bottom: 20px;
    }
    #form-main {
        margin-bottom: 20px;
    }
    #main-header h1 {
        font-size: 30px;
    }
    #main-header {
        padding: 0;
        justify-content: center;
    }
}
